<%- include( 'partials/header.ejs' ) %>
    <main class="article">
        <%- include( 'partials/nav.ejs' ); %>
        <header class="article__header">
            <div class="section-content">
                <img src="https://duesouth.imgix.net/2793a42eb8d557403b8ed7c0c89b4c2c0adaee59_living-room.jpg?mask=https%3A%2F%2Fprismic-io.s3.amazonaws.com%2Fdue-south%252Fb3bcbda9-8ce2-4291-9f79-7aee53697762_cloudy.png&fm=png&fit=crop" alt="" class="article__header__image">
                <h1 class="article__header__title"><%= doc.getText( 'articles.title' ); %></h1>
            </div>
        </header>

        <aside class="article__sidebar">
            <% if( doc.tags.length ) { %>
                <div class="article__sidebar__tags">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="article__sidebar__tags__icon" width="40" height="40">
                        <path d="M38,26.4L26.4,38c-1.5,1.5-4.1,1.5-5.6,0L2,19.2c-0.8-0.8-1.2-1.9-1.2-3L1.6,5.3
                        c0.1-2,1.7-3.6,3.7-3.7l10.9-0.7c1.1-0.1,2.2,0.3,3,1.2L38,20.8C39.5,22.4,39.5,24.9,38,26.4z"/>
                        <circle cx="8.3" cy="8.7" r="2.7"/>
                    </svg>
                    <div class="section-content">
                        <ul class="article__sidebar__tags__list">
                            <% doc.tags.forEach( function( tag ) { %>
                                <li class="article__sidebar__tags__tag">
                                    <a class="article__sidebar__tags__tag__link" href="../../articles/tagged/<%= sluggify( tag ); %>">
                                        <%= tag %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            <% } %>
        </aside>

        <div class="article__content">
            <% ( doc.getSliceZone( 'articles.body' ).slices ).forEach( function( slice ) { %>

                <!-- Automatic slice template includes: -->
                <%- include( 'partials/' + slice.sliceType + 'Slice.ejs', { slice: slice, doc: doc } ); %>

            <% }); %>
        </div>

    </main>

<%- include( 'partials/footer.ejs' ) %>
