<%- include( 'partials/header.ejs' ) %>
    <main class="article">
        <header class="article__header">
            <div class="section-content">
                <h1 class="article__header__title"><%= doc.getText( 'articles.title' ); %></h1>
            </div>
        </header>

        <aside class="article__sidebar">
            <div class="article__sidebar__tags">
                <div class="section-content">
                    <ul class="article__sidebar__tags__list">
                        <% doc.tags.forEach( function( tag ) { %>
                            <li class="article__sidebar__tags__tag">
                                <a class="article__sidebar__tags__tag__link" href="../../articles/tagged/<%= sluggify( tag ); %>">
                                    <%= tag %>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="article__content">
            <% ( doc.getSliceZone( 'articles.body' ).slices ).forEach( function( slice ) { %>

                <!-- Automatic slice template includes: -->
                <%- include( 'partials/' + slice.sliceType + 'Slice.ejs', { slice: slice, doc: doc } ); %>

            <% }); %>
        </div>

    </main>

<%- include( 'partials/footer.ejs' ) %>
