<%
    var date = doc.getDate( 'articles.publicationDate' );
    if( date ) {
        var publicationDate = new Date( date );
        var months = [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ];
        var month = months[ date.getMonth() ];
        var day = date.getDay();
        var year = date.getFullYear();

        var outputDate = month + ' ' + day + ', ' + year;
    }
%>

<%- include( 'partials/header.ejs' ) %>
    <main class="article">
        <%- include( 'partials/nav.ejs' ); %>
        <header class="article__header">
            <%# <img src="https://duesouth.imgix.net/2554eb882db1c3fe769fc55ee50d6a9d79c05ec5_bedroom.jpg?mask=https%3A%2F%2Fprismic-io.s3.amazonaws.com%2Fdue-south%252F0d497457-7a3a-45e7-83a1-e0fb8d3a2565_mask-3.png&fm=png&fit=clamp&blend=000000&bm=multiply&balph=35&h=400" alt="" class="article__header__image fluid">%>
            <img src="https://duesouth.imgix.net/2793a42eb8d557403b8ed7c0c89b4c2c0adaee59_living-room.jpg?w=1000&h=500&fit=crop&blend=000000&bm=multiply" alt="" class="article__header__image fluid">
            <h1 class="article__header__title"><%= doc.getText( 'articles.title' ); %></h1>
        </header>

        <div class="article__wrapper">
            <aside class="article__sidebar">
            <div class="article__sidebar__meta">
                <div class="section-content">
                    <div class="article__sidebar__meta__author">
                        <img src="../../images/jess.jpg" alt="Jessica Rutherford" class="article__sidebar__meta__author__avatar" width="40" height="40">
                        <h4 class="article__sidebar__meta__author__name">Jessica Rutherford</h4>
                    </div>
                    <span class="article__sidebar__meta__date">
                        <%= outputDate %>
                    </span>
                </div>
            </div>
            <% if( doc.tags.length ) { %>
                <div class="article__sidebar__tags">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" class="article__sidebar__tags__icon" width="40" height="40">
                        <path d="M38,26.4L26.4,38c-1.5,1.5-4.1,1.5-5.6,0L2,19.2c-0.8-0.8-1.2-1.9-1.2-3L1.6,5.3
                        c0.1-2,1.7-3.6,3.7-3.7l10.9-0.7c1.1-0.1,2.2,0.3,3,1.2L38,20.8C39.5,22.4,39.5,24.9,38,26.4z"/>
                        <circle cx="8.3" cy="8.7" r="2.7"/>
                    </svg>
                    <div class="section-content">
                        <ul class="article__sidebar__tags__list">
                            <% doc.tags.forEach( function( tag ) { %>
                                <li class="article__sidebar__tags__tag">
                                    <a class="article__sidebar__tags__tag__link" href="../../articles/tagged/<%= sluggify( tag ); %>">
                                        <%= tag %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            <% } %>
        </aside>

            <div class="article__content">
            <% ( doc.getSliceZone( 'articles.body' ).slices ).forEach( function( slice ) { %>

                <!-- Automatic slice template includes: -->
                <%- include( 'partials/' + slice.sliceType + 'Slice.ejs', { slice: slice, doc: doc } ); %>

            <% }); %>
        </div>
        </div>
    </main>

<%- include( 'partials/footer.ejs' ) %>
