<%- include( '../templates/partials/header.ejs' ); %>
    <%- include( '../templates/partials/nav.ejs' ); %>

    <main class="home">
        <div class="section-content">

            <h1 class="homepage-article-header">Featured Article:</h1>
            <%- include( '../templates/partials/featured-article.ejs', { 'featuredArticle': docs.collections.articles[0] } ); %>

            <h1 class="homepage-article-header">Other Articles:</h1>
            <!-- Recent Articles -->
            <ul class="articles">
                <% docs.collections.articles.forEach( function( article, count ) { %>
                    <!-- Exclude first article because -->
                    <!-- Its featured: -->
                    <% if( count ) { %>
                        <%- include( '../templates/partials/article.ejs', { 'doc': article } ); %>
                    <% }; %>
                <% }); %>
            </ul>

        </div>
    </main>
<%- include( '../templates/partials/footer.ejs' ); %>
